# Assignments

In [1]:
x = 3        # Assigning a value 3 to a variable x  
print (x)    # print () ===== print the value saved in x

3

In [2]:
print x

# SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)?

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)? (2066750279.py, line 1)

In [3]:
print X

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(X)? (3902570013.py, line 1)

In [4]:
print (X)

# NameError: name 'X' is not defined

NameError: name 'X' is not defined

In [5]:
x = 5     # Assigning a value 5 to a variable x 
print (x)

# always consider latest assignment

5

# Naming Rules

In [6]:
credit_score = 98
print(credit_score)

98

In [7]:
credit.score = 89
print (credit.score)

# generally dfname.colname

NameError: name 'credit' is not defined

In [8]:
creditscore = 98
print (creditscore)

98

In [9]:
creditscore89 = 98
print (creditscore89)

98

In [10]:
89creditscore = 98
print (89creditscore)

SyntaxError: invalid syntax (490008629.py, line 1)

In [11]:
credit score = 98
print (credit score)

SyntaxError: invalid syntax (3943045367.py, line 1)

In [12]:
a = 10
print (A)

NameError: name 'A' is not defined

In [13]:
_a = 10
print (_a)

10

***Rules for Python variables names:***

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age, AGE, aGe, AgE etc are different variables)
- long names
- Cannot have a space and period (.)

# Type of Variables

## Variables 

- Variables are containers for storing data values. A variable is created the moment you first assign a value to it.

Data types built-in

Text Type:      str
Boolean Type:   bool
Numeric Types:  int, float

In [14]:
# Integer

x = 10
print (x)

type(x)

10

int

In [15]:
# Float

y = 10.98
print (y)

type(y)

10.98

float

In [16]:
# String

z = "jupyter" # character value will always be in qoutes - single or double
print (z)

type(z)

jupyter

str

In [17]:
# String

z = 'python' # character value will always be in qoutes - single or double
print (z)

type(z)

python

str

In [18]:
# Boolean

b = True
print (b)

type(b)

True

bool

### Operations and Functions - String Variables

In [19]:
message = 'Hello world'
print (message)

Hello world

In [20]:
# Concatenating

message1 = "hello" + "world"
print (message1)

helloworld

In [21]:
# Repetition

message2a = 'hello ' * 3
message2b = "world"

print (message2a + message2b)

hello hello hello world

In [22]:
str1 = 'Machine Learning with Python'
print (str1)

Machine Learning with Python

In [23]:
# the length of str1
len(str1)

28

In [24]:
# converts all characters in string to Uppercase
str1.upper()

'MACHINE LEARNING WITH PYTHON'

In [25]:
# converts all characters in string to lowercase
str1.lower()

'machine learning with python'

In [26]:
# Capitalize() - capitalizes the first letter of the string
str1.capitalize()

'Machine learning with python'

In [27]:
#  title() - capitalize the first letter of each word in a string
str1.title()

'Machine Learning With Python'

**replace**

- The replace() method replaces a specified phrase with another specified phrase.

In [28]:
message8 = "Hello World"
message8a = message8.replace('l', " pizza ")
print (message8a)

He pizza  pizza o Wor pizza d

In [29]:
message8 = "Hello World"
message8a = message8.replace('z', " pizza ")
print (message8a)

Hello World

**Find**

- Index of the element :: An index refers to a position within a value. Python strings have characters; each character is given an index from zero (at the beginning) to the length minus one (at the end)

- The find() method finds the first occurrence of the specified value.

- The find() method returns -1 if the value is not found.

In [30]:
message5 = "Hello World"
message5a = message5.find('H')    # index of the element
print (message5a)

# 0 1 2 3 4 5 6 7 8 9 10
# H e l l o   W o r l d

0

# In python the index starts from 0

In [31]:
message5 = "Hello World"
message5a = message5.find('W')     # index of the element
print (message5a)

6

In [32]:
message5 = "Hello World"
message5a = message5.find('o') # index of the element
print (message5a)

# The find() method finds the first occurrence of the specified value

4

In [33]:
message5 = "Hello World"
message5a = message5.find('or') # index of the element
print (message5a)

7

In [34]:
message5 = "Hello World"
message5a = message5.find('z') # index of the element
print (message5a)

# The find() method returns -1 if the value is not found.

-1

## Accessing Elements from String

In [35]:
message9 = 'Hello World'
message9[8]                 # accessing the element at index 8

# 0 1 2 3 4 5 6 7 8 9 10
# H e l l o   W o r l d

'r'

In [36]:
message9 = 'Hello World'
message9[10]

'd'

In [37]:
message9 = 'Hello World'
message9[15]

IndexError: string index out of range

### Slicing the Elements from String

In [38]:
message9 = 'Hello World'
message9a = message9[1:8]      # [inclusive : exclusive] or [Start : Stop] = [Start : Stop - 1]
print (message9a)

# 0 1 2 3 4 5 6 7 8 9 10
# H e l l o   W o r l d

ello Wo

In [39]:
message9 ='Hello World'
print (message9[6:])        # 6 to end

World

In [40]:
message9 ='Hello World'
print (message9[:6])         # [Start : Stop] = [Start : Stop - 1]

Hello

## Postive and Negative Indices in Python

In [41]:
# positive indices start from 0  - left to right
Str1 = 'SUPER'

print (Str1[0])
print (Str1[1])
print (Str1[2])
print (Str1[3])
print (Str1[4])

S
U
P
E
R

In [42]:
# negative indices start from -1 - right to left

print (Str1[-5])
print (Str1[-4])
print (Str1[-3])
print (Str1[-2])
print (Str1[-1])

S
U
P
E
R

# positive indices start from  0 - left to right - 0 to len(str)-1
# negative indices start from -1 - right to left - -1 to -len(str)

#   S   U   P   E   R
#   0   1   2   3   4    # positive indice
#  -5  -4  -3  -2  -1    # negative indice

# InClass Practice

# 1

## Create a string "My First Python Class" and print it

In [43]:
str1 = "My First Python Class"
str1

'My First Python Class'

## Access the third last character in the string

In [44]:
str1[-3]

'a'

## Update a letter of the string :: s with z

hint - replace()

In [45]:
str1.replace('s', 'z')

'My Firzt Python Clazz'