# Collections
Collections are objects(variable) that can holds more than one constant

Some of the collections supported by Python is:
1. Tuples
2. List
3. Dictionaries

When it comes to variables and collections in Python, there exists two forms of collections
1. ***Immutable Collections***
   They are those collections which once loaded, **cannot be changed** at any point in time
   Immutable is useful in a situation where you want to ensure the data will never change either by user or by system
 
2. ***Mutable Collections***
   They are those collections which allow you to **change the data** at any point in time
   Mutable collections are useful in a situation where you will be reusing your memory for operations

## Tuples

- A tuple is a one-dimensional, fixed-length, **immutable** sequence of Python objects. Immutable implies that its content cannot be modified.

- The easiest way to create a tuple is to provide a **comma-separated sequence of values**. In this example, a tuple is assigned a bunch of mixed comma separated data type values enclosed within **parentheses**.

- Letâ€™s view it by referencing the tuple object. To access the tuple element at index 1, use the syntax shown here. The index usually starts from 0. 

- If you try to modify the value at a specified index, it throws an error since a tuple is immutable.

In [1]:
tup1 = ('physics', "chemistry", 1997, 2000)
print (tup1)

('physics', 'chemistry', 1997, 2000)

### Update Tuple

In [3]:
tup1 = ('physics', "chemistry", 1997, 2000)
print (tup1)

print ()     #========================== Blank print

print (tup1[2]) # access the value at index 2

tup1[2] = "maths"  # update 1997 to maths

# TypeError: 'tuple' object does not support item assignment

('physics', 'chemistry', 1997, 2000)

1997

TypeError: 'tuple' object does not support item assignment

### Delete an element of the Tuple

In [5]:
tup1 = ('physics', "chemistry", 1997, 2000)
print (tup1)

print ()     #========================== Blank print

print (tup1[2]) # access the value at index 2

del tup1[2] # deleting 1997

# TypeError: 'tuple' object doesn't support item deletion

('physics', 'chemistry', 1997, 2000)

1997

TypeError: 'tuple' object doesn't support item deletion

### Some Operations on Tuple
- We can use the index of an element to view and access it. To access elements with the help of positive indices, count from the left, starting with 0. 

- You can also use negative indices by counting from the right, starting with -1. Negative indices are useful as they help you to easily refer to elements at the end of a long tuple.

- Once you have seen how to access individual elements in a tuple. You can also access a range or slice of elements within a tuple. 

- Slicing allows you to create a subset of the tuple. To slice a tuple, mention the indices of the first element and that of the element immediately after the last element. This is because while the first index is inclusive, the second one is not. 

- For example, here we can see that referencing indices 1 to 4, creates a tuple subset containing the elements from index 1 to 3.

- You can also use negative indices to slice tuples, as shown here.

In [ ]:
tup1 = ('abcd', 786, 2.23, 'john', 70.2)
tinytuple = (123, 'jane')
print (tup1)
print ()
print (tinytuple)

In [ ]:
print (tup1[0])
print()             # for space

print (tup1[1:3])
print()

print (tup1[2:])      # access the ele at 2nd index till the end
print()

print (tinytuple * 2) # repetition
print()

print (tup1 + tinytuple) # concat

# Lists

- In contrast with tuples, the length of lists is variable and their contents can be modified. They can be defined using square brackets **[ ]**. 

- Here, a list is defined using **comma separated values** of mixed data types. 

- We can view the content of the list by just referring to the list object. 

- You can use the append method to add a value to the list. Note that this value gets added to the end of the list. 

- We can also remove any particular item by just referring to the element value. 

- Use the pop method to simultaneously view and remove the value at a particular index. 

- Similarly, use the insert method to insert a value at a particular index.

In [6]:
CL = [100, 5.2, 'class', True]
print (CL)

[100, 5.2, 'class', True]

## Update List

In [10]:
List1 = ['physics', "chemistry", 1997, 2000]
print (List1)
print ()     

print ('Original Value at Index 2 = ', List1[2])          # access the value at index 2
List1[2] = "maths" # update 1997 to maths
print ()        

print ('Updated Value at Index 2 = ', List1[2])          # access the value at index 2
print ()
print ('Updated List = ', List1)

['physics', 'chemistry', 1997, 2000]

Original Value at Index 2 =  1997

Updated Value at Index 2 =  maths

Updated List =  ['physics', 'chemistry', 'maths', 2000]

### Deleting an element of the List

In [11]:
List1 = ['physics', "chemistry", 1997, 2000]
print (List1)
print ()                                      #========================== Blank print

print ('Original Value at Index 2 = ', List1[2])          # access the value at index 2

del List1[2]

print ()
print ('Updated Value at Index 2 = ', List1[2]) # access the value at index 2

print ()
print ('Updated List = ', List1)

['physics', 'chemistry', 1997, 2000]

Original Value at Index 2 =  1997

Updated Value at Index 2 =  2000

Updated List =  ['physics', 'chemistry', 2000]

In [ ]:
# Accessing values from the list
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1,2,3,4,5,6,7]

print (list1)
print ()
print (list2)

In [ ]:
print (list1[0])
print (list2[1:5]) # [Start : Stop - 1]

In [ ]:
aList = [123, 'xyz', 'zara', 'abc']
bList = [2009, 'mani']

print (aList)
print (bList)
print ()
print (aList + bList) # concat
print (bList + aList)
print ()
print (aList * 2) # repetition

## Inbuilt function in List

In [12]:
# list append() -- Modify - adding a new value - appends an element to the end of the list

aList = [123, 'xyz', 'zara', 'abc']
print ('Original List : ', aList)
print ()

aList.append(2009)

print ('Updated List : ', aList)

Original List :  [123, 'xyz', 'zara', 'abc']

Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

In [13]:
# Modify a list: Insert a new item at a certain index

aList = [123, 'xyz', 'zara', 'abc']
print ('Original List : ', aList)
print ()

aList.insert(2, 2009) # index and value --- insert 2009 at index 2
print ('Updated List : ', aList)

Original List :  [123, 'xyz', 'zara', 'abc']

Updated List :  [123, 'xyz', 2009, 'zara', 'abc']

In [15]:
# Remove - element -- Modifying the list
# remove deletes the item, does not display anything

aList = [123, 'xyz', 'zara', 'abc']
print ('List = ', aList)
print ()

aList.remove("xyz")
print ('List = ', aList)
print ()

aList.remove("zara")
print ('List = ', aList)

List =  [123, 'xyz', 'zara', 'abc']

List =  [123, 'zara', 'abc']

List =  [123, 'abc']

In [1]:
# pop() - The pop() method removes the item at the given index from the list and returns the removed item.

aList = [123, 'xyz', 'zara', 'abc']
print ('List = ', aList)
print ()

print (aList.pop(2)) # zara 
print ()
print ('List = ', aList)
print ()

print (aList.pop()) # print the element or value which will be dropped. when no indice is mentioned picks the last one
print ()
print ('List = ', aList)

List =  [123, 'xyz', 'zara', 'abc']

zara

List =  [123, 'xyz', 'abc']

abc

List =  [123, 'xyz']

# Positive and Negative indice in List

- As you have learned earlier, positive indices are counted from the left, starting with 0. By providing the positive index, we can access the specified list element. 


- Recall that negative indices are counted from the right, starting with -1. Since -2 refers to the second element from the right in the list, the value 5.2 is generated as the output.

In [18]:
print (CL)

[100, 5.2, 'class', True]

In [19]:
print (CL[0])
print (CL[1])
print (CL[2])
print (CL[3])

100
5.2
class
True

In [20]:
print (CL[-4])
print (CL[-3])
print (CL[-2])
print (CL[-1])

100
5.2
class
True

# Nested Lists

In [2]:
A = [1, 2, 3 , 4 , [10,20,30,40]]
print (A)

[1, 2, 3, 4, [10, 20, 30, 40]]

**How will you access 30?**

In [3]:
len(A)

5

In [7]:
B = A[4]
B
B[2]

30

In [10]:
print (A[4][2])
print (A[-1][-2])
print (A[4][-2])
print (A[-1][2])

30
30
30
30

**List to Tuple**

In [41]:
aList = [123, 'xyz', 'zara', 'abc']
print (aList)
print ()
aTuple = tuple(aList) # converting list to tuple
print (aTuple)

[123, 'xyz', 'zara', 'abc']

(123, 'xyz', 'zara', 'abc')

**Tuple to List**

In [42]:
aTuple = (123, 'xyz', 'zara', 'abc')
print (aTuple)
print ()
aList = list(aTuple)
print (aList)

(123, 'xyz', 'zara', 'abc')

[123, 'xyz', 'zara', 'abc']

# Dictionary

- Dictionary is likely the most important built-in Python data structure. 

- Dictionaries store a mapping between **a set of keys** and **a set of values**. 
- Keys are variables, and they are listed together with the values assigned to them. This forms a key-value pair. 
- The keys can be of any **immutable** type and the values can be of any type. 

- A dictionary is a flexibly-sized collection of key-value pairs, where keys and values are Python objects.

In [17]:
a = 'Sonal'
a[-2]
a[-2] = "e"
a

# Strings are immutable data type

TypeError: 'str' object does not support item assignment

In [18]:
a.replace("a",'e')

'Sonel'

In [19]:
a

'Sonal'

In [20]:
a = a.replace("a",'e')
a

'Sonel'

In [21]:
dict1 = {'Name' : "Zara", "Age" : 7, "Class" : "First"}
dict1

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [22]:
dict1.keys()

dict_keys(['Name', 'Age', 'Class'])

In [23]:
dict1.values()

dict_values(['Zara', 7, 'First'])

In [24]:
dict1.items() # key-value pair

dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])

In [25]:
dict1[0]
# KeyError: 0

KeyError: 0

In [26]:
dict1.values()[0]
# TypeError: 'dict_values' object is not subscriptable

TypeError: 'dict_values' object is not subscriptable

- The Python Dictionary object provides a key:value indexing facility. 
- **Note that dictionaries are unordered - since the values in the dictionary are indexed by keys, they are not held in any particular order, unlike a list, where each item can be located by its position in the list.**

In [27]:
# Access with keys

print (dict1["Name"])
print ()
print (dict1["Age"])

Zara

7

# Updating the Dict

In [30]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print (dict1)
print ()

print (dict1["Age"])
print ()

dict1["Age"] = [7,8]   # updating/ modifying a value
print (dict1)
print ()

dict1["School"] = "DPS"
print (dict1)

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

7

{'Name': 'Zara', 'Age': [7, 8], 'Class': 'First'}

{'Name': 'Zara', 'Age': [7, 8], 'Class': 'First', 'School': 'DPS'}

In [34]:
print (dict1["Age"])
type(dict1["Age"])
dict1["Age"][1]

[7, 8]

8

## Deleting a key-value pair

In [35]:
print (dict1)
print ()
print (dict1["School"])

print ()
del dict1["School"]
print (dict1)

{'Name': 'Zara', 'Age': [7, 8], 'Class': 'First', 'School': 'DPS'}

DPS

{'Name': 'Zara', 'Age': [7, 8], 'Class': 'First'}

## Keys are immutable

In [36]:
dict1 = {['Name']: 'Zara', 'Age': 7, 'Class': 'First'}
print (dict1)
print ()

# TypeError: unhashable type: 'list'
# keys are immutable. list are mutable hence the error

TypeError: unhashable type: 'list'

In [37]:
dict1 = {('Name') : 'Zara', 'Age' : 7}
print (dict1)

{'Name': 'Zara', 'Age': 7}

# Clear Dictionary

In [38]:
dict1.clear()
print (dict1) # empty the dictionary

{}

# Del Dictionary

In [39]:
del (dict1)
print (dict1) # error

NameError: name 'dict1' is not defined

# Tuple vs List vs Dictionary

In [40]:
A = ()
print (A)
print (type(A))
B = []
print (B)
print (type(B))
C = {}
print (C)
print (type(C))

()
<class 'tuple'>
[]
<class 'list'>
{}
<class 'dict'>

# InClass Assignment

# 1.

Given this nested list, use indexing to grab the word "Joe"

In [43]:
B = [[1,2,3],['Anand',['Raghav',[7,8,9,0,['Aman',['Kumar','Joe']]]]]]
B

[[1, 2, 3], ['Anand', ['Raghav', [7, 8, 9, 0, ['Aman', ['Kumar', 'Joe']]]]]]

In [50]:
print (B[-1])
print (B[-1][-1])
print (B[-1][-1][-1])
print (B[-1][-1][-1][-1])
print (B[-1][-1][-1][-1][-1])
print (B[-1][-1][-1][-1][-1][-1])

['Anand', ['Raghav', [7, 8, 9, 0, ['Aman', ['Kumar', 'Joe']]]]]
['Raghav', [7, 8, 9, 0, ['Aman', ['Kumar', 'Joe']]]]
[7, 8, 9, 0, ['Aman', ['Kumar', 'Joe']]]
['Aman', ['Kumar', 'Joe']]
['Kumar', 'Joe']
Joe

In [51]:
print (B[1])
print (B[1][1])
print (B[1][1][1])
print (B[1][1][1][4])
print (B[1][1][1][4][1])
print (B[1][1][1][4][1][1])

['Anand', ['Raghav', [7, 8, 9, 0, ['Aman', ['Kumar', 'Joe']]]]]
['Raghav', [7, 8, 9, 0, ['Aman', ['Kumar', 'Joe']]]]
[7, 8, 9, 0, ['Aman', ['Kumar', 'Joe']]]
['Aman', ['Kumar', 'Joe']]
['Kumar', 'Joe']
Joe

# 2.

**Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [2]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [7]:
d['k1'][-1]['tricky'][-1]['target'][-1]

'hello'

# 3. 

tup4 = ((1, 2, 'z'), 199, 'a', 200.88, 'string', ['a', 'b'])
print (tup4)

**Update b with 2000**

In [53]:
tup4 = ((1, 2, 'z'), 199, 'a', 200.88, 'string', ['a', 'b']) 
print (tup4)

((1, 2, 'z'), 199, 'a', 200.88, 'string', ['a', 'b'])

# 4. 

**Given this nested list, use indexing to grab the word "hello"**

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [55]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]