# Functions are reusable codes ::
In python there exists two functions:
-  1. Pre-defined Functions -- len, append, print
-  2. User-defined Functions

## 1. Pre-defined Functions

In [2]:
print ('this is a print function')
print ([1,2])
print (('apple, cherry'))

this is a print function
[1, 2]
apple, cherry

In [3]:
x = [1,2,3,4]
len(x)

4

In [4]:
print ()

In [5]:
len ()
# TypeError: len() takes exactly one argument (0 given)

TypeError: len() takes exactly one argument (0 given)

## 2. User-defined Functions

In [6]:
# Function that can print values

def welcome():
    print ('hi')
    print ("Python is interesting")
    
# def - keyword to define the functions
# welcome - name of the user defined function

# syntax - def function_name() ==> to accept arguments
# there is no output

In [7]:
welcome() # calling the function

hi
Python is interesting

In [8]:
welcome("Sonal")

TypeError: welcome() takes 0 positional arguments but 1 was given

## User defined function with arguments

In [9]:
# Parameters are defined during function creation
# Arguments are defined during function usage

def add(num1, num2):
    # num1 , num2 ---> Parameters
    return num1 + num2

add(3,2) # 3,2 --- arguments

5

In [10]:
add('Apple ',"Oranges") # concatenate

'Apple Oranges'

In [11]:
add([1,2,3,4],[10,11,12,13]) # concatenate

[1, 2, 3, 4, 10, 11, 12, 13]

In [12]:
add(2, "Oranges")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
add(9)

TypeError: add() missing 1 required positional argument: 'num2'

### User defined function with default arguments

In [14]:
# Parameters are defined during function creation
# Arguments are defined during function usage

# You can create a function that can hold default argument in the parameter

def printinfo(name = "Sonal" , age = 20):
    print ("Name : ", name)
    print ("Age : ", age)

In [15]:
printinfo()

Name :  Sonal
Age :  20

In [16]:
printinfo(name = "Akshay")

Name :  Akshay
Age :  20

In [17]:
printinfo(name = "Akshay", age = 25)

Name :  Akshay
Age :  25

# Functions with for loop

In [18]:
# Write a function, which take a number from the user and returns the multiplcation table till 10

def mult_table(num):
    for i in range(1,11):
        nnum = num * i
        print (num, "*", i, "=", nnum)

In [19]:
mult_table(19)

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

### Examples of Functions

In [20]:
# Writing a function to check if the word "python" is in my string, return true else return false

def word_check(myword):
    if 'python' in myword:
        return True
    else:
        return False

In [21]:
word_check('python is an interesting language')

True

In [22]:
word_check('Python is an interesting language')

False

In [23]:
# Writing a function to check if the word "python" or "Python" is in my string, return true else return false

def word_check(myword):
    if 'python' in myword.lower():
        return True
    else:
        return False

In [24]:
word_check('python is an interesting language')

True

In [25]:
word_check('Python is an interesting language')

True

In [26]:
'Python is an interesting language'.lower()

'python is an interesting language'

# InClass assignment
1.

Write a program to add 2 Lists:
    A = [1,2,3,4]
    B = [10,20,30,40]
    
    C = A+B = [11,22,33,44]

In [13]:
A = [1,2,3,4]
B = [10,20,30,40]
C = []
  
print (A)  
print (B)  


for i in range (len(A)):
    C.append(A[i] + B[i])
    
print (C)

[1, 2, 3, 4]
[10, 20, 30, 40]
[11, 22, 33, 44]