**Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference.**

# Hint :: User Input

In [1]:
name = input("who are you?")
print()
print ('Welcome', name)

who are you?s

Welcome s

In [2]:
age = input('What is your age?')
print ()
print ("The age is ", age)

What is your age?30

The age is  30

**Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.**

**Given this nested list, use indexing to grab the word "hello"**

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

**Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky**

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

**Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.**

**The school committee wants to automate course score calculation work. So they contacted the developing team to find a way for them. You have to select a course and set a criteria as per the school score rule and regulations.**
Steps to Perform:
1.	If the selected course is math
2.	If the score in theory is more than 60 or score in practical is more than 50
3.	Print the score of the subject
4.	If the selected course is science
5.	If the score in theory is more than 60 or score in practical is more than 40
6.	Print the score of the subject

**Write a program to print the Fibonacci series up to 89:**
    # 0,1,1,2,3,5,8,....................89

**Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.**

Suppose the following input is supplied to the program: 34,67,55,33,12,98 
Then, the output should be: 
    ['34', '67', '55', '33', '12', '98'] 
    ('34', '67', '55', '33', '12', '98') 
Hints: 
list.append()
tuple() method can convert list to tuple